<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <style>
  </style>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
  <link th:href="@{/css/main.css}" rel="stylesheet">

</head>
<body>
<div class="wrapper">
  <div id="formContent">
    <h2> Sign In </h2>

    <!-- Login Form -->
    <form th:action="@{/logInto}" method="post">
      <div th:if="${param.error}"><p>[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]] </p></div>
      <div th:if="${message != null}"><p th:text="${message}"p></p></div>
      <input type="text" id="login" name="username" placeholder="user name">
      <input type="password" id="password" name="password" placeholder="password">
      <input type="submit" class="buttons" value="Sign in">
    </form>

    <!-- Remind Password -->
    <div id="formFooter">
      <a href="/reset" th:href="@{/reset}">Forgot Password?</a>
    </div>

  </div>
</div>
</body>
</html>
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
