<!--Displays questions from database, accepts answers-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <title>Quiz</title>
</head>
<body>
<div class="main-block">
<!--    Quiz form-->
    <form th:action="@{/result}" th:object="${answersDto}" method="POST" >
        <div th:object="${questions}" class="questions" >
            <h2> Each question has one correct answer and to submit your quiz press SUBMIT</h2>
            <div>
            <div>
                <br>
                <fieldset th:each="question, count: ${questions}">
                    <label> <strong th:text="${question.title}"></strong></label>
                    <ul >
                        <li th:each="option, i : ${question.answers}" style="text-decoration:none">
                            <input th:name="${question.questionId}"
                                   th:value="${option.optionText}"
                                   th:id="${'option' + (i.index + 1)}"
                                   type="radio"
                                   th:answer="${question.optionCorrect}"
                            />
                            <label th:text="${option.optionText}"
                                   th:for="${'option' + (i.index + 1)}"
                            id="question1">
                           </label>

                        </li>
                    </ul>

                </fieldset>

            </div>
        </div>

        <br>
        <button type="submit" href="/" class="buttons">submit</button>
</div>
</form>
</div>
</div>

</body>
</html>