<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Quiz</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link th:href="@{/css/main.css}" rel="stylesheet">

</head>
<body>
<div class="main-block">
    <h1>Quiz questions</h1>
    <form class="questions" action="/">

        <div class="grade-type">
            <h3>What is Java?</h3>
            <div>
                <input type="radio" value="none" id="radioOne" name="grade" checked/>
                <label for="radioOne" class="radio">Excellent</label>
            </div>
            <div>
                <input type="radio" value="none" id="radioTwo" name="grade" />
                <label for="radioTwo" class="radio">Very Good</label>
            </div>
            <div>
                <input type="radio" value="none" id="radioThree" name="grade" />
                <label for="radioThree" class="radio">Good</label>
            </div>
            <div>
                <input type="radio" value="none" id="radioFour" name="grade" />
                <label for="radioFour" class="radio">Bad</label>
            </div>
        </div>

        <input type="submit" class="buttons" value="Submit">
    </form>
</div>
</body>
</html>