<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div class="wrapper fadeInDown">

    <div id="formContent">
        <h2> Sign Up </h2>

        <!-- registration Form -->
        <form action="/save" method="post">
            <input type="text" id="login" class="fadeIn second" name="name" placeholder="user name">
            <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">
            <input type="text" id="email" class="fadeIn third" name="email" placeholder="email">
            <input type="submit" class="buttons" value="SAVE">
        </form>

    </div>
</div>
</body>
</html>